* {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* MENU -----------------------------------------------------*/

.logo {
    width: 250px;
    height: auto;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0606;
}

.menu {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

/* MENU -----------------------------------------------------*/

/* HEADER ---------------------------------------------------*/

.header-container {
    display: flex;
    justify-content: center;
    background-color: #0e0606;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}


.buttons {
    display: flex;
    gap: 30px;
}

.pyramid {
    width: 350px;
    height: auto;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.choice {
    background-color: transparent;
    border: 2px solid #0f137a;
    padding: 5px 25px;
}

.choice:hover {
    background-color: #0f137a;
}

/* HEADER ---------------------------------------------------*/

/* MOMENTS --------------------------------------------------*/

.moments-container {
    display: flex;
    justify-content: center;
    background: url(images/hole.jpg)repeat fixed 50%;
}

.moments {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 300px;
    text-align: center;
    margin-bottom: 50px;
}

/* .moments-header {
    font-weight: 800;
    font-size: 36px;
    margin-top: 80px;
} */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* MOMENTS --------------------------------------------------*/

/* QUOTE ----------------------------------------------------*/

.quote-container {
    display: flex;
    background: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/silent-hill-2/7/7a/Mary_letter.bmp")repeat fixed 50%;
    justify-content: center;
}

.quote-child {
    display: flex;
    width: 900px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.mary {
    font-weight: bold;
    align-self: flex-end;
}

/* QUOTE -----------------------------------------------------*/

/* ACTION ----------------------------------------------------*/

.action-container {
    display: flex;
    justify-content: center;
    background-color: #0e0606;
}

.action {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* make sure to align button with with subtext */
.buttonbot {
    background-color: #0e0606;
    border-radius: 5px;
    border: 2px solid white;
    text-decoration: none;
    padding: 5px 25px;
}

.call {
    font-size: 24px;
}

/* ACTION ----------------------------------------------------*/

.footer {
    padding: 30px 0px;
    display: flex;
    place-content: center;
    background-color: #0e0606;
    font-size: 18px;
}