* {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* ALL ------------------------------------------------------*/

.menu-container,
.header-container,
.moments-container,
.quote-container,
.action-container,
footer,
span {
    text-shadow: 5px 5px 10px darkred;
}

.choice, .buttonbot {
    background-color: transparent;
    border: 2px solid #0f137a;
    padding: 5px 25px;
}

.choice:hover, .buttonbot:hover {
    background-color: #0f137a;
}


/* ALL ------------------------------------------------------*/

/* MENU -----------------------------------------------------*/

.logo {
    width: 250px;
    height: auto;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px;
}

.menu {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

/* MENU -----------------------------------------------------*/

/* HEADER ---------------------------------------------------*/

.header-container {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

.header {
    width: 850px;
    display: flex;
}

.left {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}


.buttons {
    display: flex;
    gap: 30px;
}

.pyramid {
    width: 350px;
    height: auto;
}

.subtext {
    font-size: 18px;
    color: white;
}

/* HEADER ---------------------------------------------------*/

/* MOMENTS --------------------------------------------------*/

.moments-container {
    display: flex;
    justify-content: center;
    background: url(images/hole.jpg)repeat fixed 80%;
    padding: 80px 0px 100px;
}

.moments {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description {
    text-align: center;
    margin: auto;
}

.moments-header {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 2px solid #0f137a;;
    border-radius: 20px;
    margin: 20px;
    transition: transform .2s;
}

iframe:hover {
    transform: scale(1.2); 
  }

/* MOMENTS --------------------------------------------------*/

/* QUOTE ----------------------------------------------------*/

.quote-container {
    display: flex;
    background: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/silent-hill-2/7/7a/Mary_letter.bmp")repeat fixed 70%;
    justify-content: center;
    padding: 120px;
}

.quote-child {
    display: flex;
    width: 1200px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.mary {
    font-weight: bold;
    align-self: flex-end;
}

/* QUOTE -----------------------------------------------------*/

/* ACTION ----------------------------------------------------*/

.action-container {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
    background: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/silent-hill-2/7/7a/Mary_letter.bmp")repeat fixed 70%;
}

.action {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    font-size: 24px;
}

/* ACTION ----------------------------------------------------*/

.footer {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 18px;
}

.nurse {
    width: 100px;
    height: auto;
}